body{
    margin: 0px;
}

.TopBar{
    /* Bar */
    background-color: rgb(106, 236, 106);
    height: 125px;
    padding-left: 10px;

    /*Text*/
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Google Sans, sans-serif;
    color: #2C2D2D;
}

.TopBarP{
    background-color: rgb(106, 236, 106);
    border-radius: 10px;
    border-width: 5px;

    font-size: 30px;

    margin-left:80px;
    margin-bottom: 25px;

    align-items: center;
    height: 80px;
    width: 150px;
    font-family: Google Sans, sans-serif;
    color: #2C2D2D;
}

.TopBarP:hover{
    animation: grow 0.3s ease-in-out forwards;
}

.TopBarP:not(:hover){
    animation: shrink 0.3s ease-in-out forwards;
}

@keyframes shrink{
    from{
        transform: scale(1.1);
        color: white;
        background-color: #2C2D2D;
    }
    to{
        transform: scale(1);
        color: #2C2D2D;
        background-color: rgb(106, 236, 106);
    }
}

@keyframes grow{
    from{
        transform: scale(1);
        color: #2C2D2D;
        background-color: rgb(106, 236, 106);
    }
    to{
        transform: scale(1.1);
        color: white;
        background-color: #2C2D2D;
    }
}